{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chat | Home</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="{% static "styles/common.css" %}" />
    <link rel="stylesheet" href="{% static "styles/app.css" %}" />
  </head>
  <body>
    <div class="window">
      {% include 'sidebar.html' %}
      {% include 'chat.html' %}
    </div>
  </body>
</html>
