{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chat | Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "styles/common.css" %}" />
  </head>
  <body>
    <div style="float: left; width: 25%">{% include 'sidebar.html' %}</div>
    <div style="float: right; width: 75%">{% include 'chat_ui.html' %}</div>
    <script src="" async defer></script>
  </body>
</html>
