{% load static %}

<section class="chat-view">
  <header class="chat-view__header">
    <div class="cf">
      <div class="status">
        <i class="status__indicator--online"></i>
        <div class="meta">
          <div class="meta__name">Tim Pietrusky</div>
          <div class="meta__sub--light">Adium that ass!</div>
        </div>
      </div>
      <ul class="function-list">
        <li class="icon-dots"></li>
      </ul>
    </div>
  </header>
  <section class="message-view">
    <div class="message--send">
      <div class="message__bubble--send">Hi Tim!</div>
      <figure class="message__avatar">
        <img src="http://1.gravatar.com/avatar/89b9501f0f9e3020aab173f9a5a47683?size=80" />
      </figure>
    </div>
    <div class="cf"></div>

    <div class="message">
      <figure class="message__avatar">
        <img src="http://1.gravatar.com/avatar/34735b367f6bf8d5d2f38cb3d20d5e36?size=80" />
      </figure>
      <div class="message__bubble">Hi</div>
    </div>
    <div class="cf"></div>

    <div class="message--send">
      <div class="message__bubble--send">Browserhacks looks great!</div>
      <figure class="message__avatar">
        <img src="http://1.gravatar.com/avatar/89b9501f0f9e3020aab173f9a5a47683?size=80" />
      </figure>
    </div>
  </section>
  <footer class="chat-view__input">
    <div class="input"><input placeholder="Aa" /><span class="input__emoticon"></span></div>
    <div class="status">
      <figure class="status__avatar--small">
        <img src="http://1.gravatar.com/avatar/89b9501f0f9e3020aab173f9a5a47683?size=80" />
      </figure>
    </div>
  </footer>
</section>
